body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #333;
  margin-top: 104px;
}

.main_head {
  background-color: #f5f5f5;
  padding: 0;
  text-align: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tit1 {
  font-size: 80px;
  font-weight: 700;
  color: #1e1e1e;
}

.sub1 {
  font-size: 24px;
  font-weight: 400;
  color: #666;
}

.wrap {
  width: 100%;
  max-width: 800px;
  padding: 20px;
}

.sub_head {
  padding: 70px;
  padding-top: 100px;
  width: 100%;
  min-width: 1200px;
  height: 67.5vh;
  background-image: url('https://ifh.cc/g/F5a4Qa.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  text-align: left;
}

.tit2 {
  font-size: 24px;
  font-weight: bold;
  color: #1e1e1e;
}

.sub2 {
  font-size: 20px;
  font-weight: 300;
  color: #757575;
  margin-bottom: 20px;
}

.introduce {
  font-size: 28px;
  font-weight: 400;
  color: #1e1e1e;
  line-height: 1.2;
  margin-bottom: 30px;
  padding-left: 150px;
  text-align: center;
}
