/* 첫번째 모달 */

.modalFirst {
  z-index: 999;

  position: fixed;
  display: none;
  
  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}



.icon1 {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
}

#menu1 {
  display: none; 
  position: absolute;
  top: 45px; 
  right: 17px; 
  background-color: white; 
  padding: 10px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  border-radius: 10px; 
  font-size: 14px; 
  display: flex; 
  flex-direction: column; 
  width: 70px; /* 원하는 너비로 조정 */
  border: 1px solid #ddd; /* 회색 테두리 */
}

#menu1::after {
  content: "";
  position: absolute;
  top: -19px; /* 삼각형 위치 조정 */
  right: 21px; /* 위치 조정 */
  border-width: 10px; /* 삼각형 크기 */
  border-style: solid;
  border-color: transparent transparent white transparent; /* 아래로 향하는 흰색 삼각형 */
  display: block;
}

#menu1::before {
  content: "";
  position: absolute;
  top: -21px; /* 회색 테두리 삼각형이 약간 더 위로 */
  right: 20px; /* 위치를 흰색 삼각형과 맞춤 */
  border-width: 11px; /* 회색 테두리 크기를 조금 더 크게 */
  border-style: solid;
  border-color: transparent transparent #ddd transparent; /* 아래로 향하는 회색 삼각형 */
  display: block;
}





#menu1 button {
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  padding: 5px 10px;
  font-size: 13px;
  text-align: left;
}

#menu1 button:hover {
  background-color: #f0f0f0;
}

.memverImgDiv{
  width: 428px;
  height: 280px;
  overflow: hidden;
}

.memverImgDiv > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.nameBlogBtn{
  display: flex;
  align-items: center;
  gap: 15px;
}
.nameBlogBtn > .name {
  max-width: 65%;
}

.nameBlogBtn button {
  background-color: #2C2C2C;
  color: #fff;
  font-size: 13px;
  height: 30px;
  line-height: 15px;


}



.info1 {
  width: 428px;
  height: 280px;
  display: flex;
  flex-direction: column;
  text-align: start;
}

.info1 .name {
  font-size: 32px;
  font-weight: 700;
}

.info1 > span {
  color: #757575;
  font-size: 24px;
}

.info1 > #descriptionBox{
  margin-top: 20px;
}

/* 두번째 모달 */

.modalSecond {
  margin: 0 auto;
  z-index: 999;
  position: fixed;
  display: none;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}




.modal_body2 {
  z-index: 1000;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  width: 1032px;
  height: 408px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.modal_body1 {
  z-index: 1000;
  position: relative;
  top: 50%;
  width: 1032px;
  height: 408px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon2 {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 24px;
}

.modal_body2 #imageInput {
  width: 428px;
  height: 280px;
}

#imgPreview{
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 20px;  
}


.info2 {
  width: 428px;
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  gap: 5px;
}

#imageInput>div {
display: flex;
align-items: center;
gap: 10px;
padding-top: 10px;
}

.imgPreview {
  width: 100px; /* 미리보기 이미지의 가로 크기 */
  height: auto; /* 비율 유지 */
  border: 1px solid #ccc; /* 테두리 */
  border-radius: 5px; /* 모서리 둥글게 */
}

.imgInput {
  display: block; /* 기본 인풋 숨김 */
  max-width: 80%;

}

button#imgSmt {
  height: 30px;
  line-height: 15px;
  flex-grow: 1;
  padding: 5px 0;
  background-color: #212529; /* 배경색 */
  color: white; /* 글자색 */
  border: none; /* 기본 테두리 제거 */
  border-radius: 5px; /* 모서리 둥글게 */
  cursor: pointer; /* 포인터 커서 */
  transition: background-color 0.3s; /* 호버 시 부드러운 전환 효과 */
}




input {
  width: 397px;
  height: 25px;
  border-radius: 5px;
  border: 0.5px solid #757575;
  font-size: 13px;
  padding-left: 5px;
}

.me {
  width: 397px;
  height: 50px;
  border-radius: 5px;
  padding: 5px 0 0 5px;
  resize: none;

}

#register {

  width: 397px;
  height: 40px;
}



.modalThird {
  z-index: 999;

  position: fixed;
  display: none;
  
  justify-content: center;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.4);
}

.modal_body3 {
  z-index: 1000;
  position: absolute;
  top: 50%;
  width: 318px;
  height: 163px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.icon3 {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 18px;
}

.info3 {
  /* height: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span {
  font-size: 15px;
}

#yes,
#no {
  width: 100px;
  height: 40px;
}

input[type="file"] {
  height: fit-content;
  border:none;
}
input[type="file"]::file-selector-button {
  width: 80px;
  height: 30px;
  background: #fff;
  border: 1px solid rgb(77, 77, 77);
  border-radius: 5px;
  cursor: pointer;
  margin-right :13px ;
}

input[type="file"]::file-selector-button:hover {
  background: #212529;
  color: #fff;
}